---
layout: layouts/base.njk
lang: zh
pagination:
  data: site.locales.zh.sections.projects.items
  size: 1
  alias: project
permalink: "{{ project.href }}"
eleventyComputed:
  title: "{{ project.title }} | 王佐旭"
  description: "{{ project.text }}"
---
{% set locale = site.locales.zh %}
{% include "partials/project-page.njk" %}
